âœ…**Voting Ensemble for Classification**

In [9]:
# Import the necessary packages
import pandas as pd
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

dataset = pd.read_csv("/content/Ensemble.csv")

In [10]:
# Display the records of the dataset
dataset.head()

,Gender,Age,Smoker,BPMed,Stroke,Hypertension,Diabetes,Cholestrol,Systolic,Diastolic,BP,Heartrate,HeartProblem
0,1,1,0,0,0,0,0,0,0,0,0,1,1
1,0,1,0,0,0,0,0,2,2,2,2,1,0
2,1,1,1,0,0,0,0,2,2,2,2,1,1
3,0,2,1,0,0,1,0,1,1,2,2,1,1
4,0,1,1,0,0,0,0,2,2,2,2,1,0

In [11]:
# Separating Target variables
array = dataset.values
X = array[:,0:10]
y = array[:,10]

x = 1
seed = 7
kfold = model_selection.KFold(n_splits=10, shuffle=bool(x), random_state=seed)

# create the sub models
estimators = []
#model_LR = LinearRegression()
#estimators.append(('linear', model_LR))

tree_clf = DecisionTreeClassifier()
estimators.append(('cart', tree_clf))

model_svm = SVC()
estimators.append(('svm', model_svm))

# create the ensemble model
ensemble = VotingClassifier(estimators)
result = model_selection.cross_val_score(ensemble, X, y, cv=kfold)
print("Accuracy = ", result.mean())

Accuracy =  0.879009433962264